<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Акт сверки</title>
    <style>
      #reconTable td:nth-child(3),
      #reconTable td:nth-child(4),
      #reconTable td:nth-child(7),
      #reconTable td:nth-child(8) {
        text-align: right;
      }
    </style>
    {{Styles}}
  </head>
  <body>
    <div class="header">
      <h1>Акт сверки</h1>
      <p>взаимных расчётов по состоянию на {{ToDate}}</p>
      <p>между {{OurCompany}} (ИНН {{InnOurCompany}})</p>
      <p>и {{Counterparty}} (ИНН {{InnCounterparty}})</p>
      <p>{{ContractString}}</p>
    </div>
    <p>
      Мы, нижеподписавшиеся, {{OrganizationHeader}}, с одной стороны, и
      {{CounterpartyHeader}}, с другой стороны, составили настоящий акт сверки в
      том, что состояние взаимных расчетов по данным учета следующее:
    </p>

    <table id="reconTable">
      <colgroup>
        <col style="width: 13%" />
        <col style="width: 20%" />
        <col style="width: 15%" />
        <col style="width: 15%" />
        <col style="width: 13%" />
        <col style="width: 20%" />
        <col style="width: 15%" />
        <col style="width: 15%" />
      </colgroup>
      <thead>
        <tr>
          <td colspan="4">По данным {{OurCompany}}, руб</td>
          <td colspan="4">По данным {{Counterparty}}, руб</td>
        </tr>
        <tr>
          <th>Дата</th>
          <th>Документ</th>
          <th>Дебет</th>
          <th>Кредит</th>
          <th>Дата</th>
          <th>Документ</th>
          <th>Дебет</th>
          <th>Кредит</th>
        </tr>
      </thead>
      <tbody>
        {{TableRows}}
      </tbody>
    </table>
    <div class="footer">
      <div style="flex: 1">
        <div class="compact-group">
          <p>По данным {{OurCompany}}</p>
          <p class="bold-text">{{FinalDebtStatement}}</p>
        </div>
        <div class="spaced-group">
          <p>От {{OurCompany}}</p>
          <p>{{PositionOurCompany}}</p>
          <p class="signature-line">
            <span class="line"></span>
            <span class="name">({{DirectorOurCompany}})</span>
          </p>
          <p>М.П.</p>
        </div>
      </div>
      <div style="flex: 1">
        <div class="compact-group">
          <p>По данным {{Counterparty}}</p>
          <p class="bold-text">{{FinalDebtStatement}}</p>
        </div>
        <div class="spaced-group">
          <p>От {{Counterparty}}</p>
          <p>{{PositionCounterparty}}</p>
          <p class="signature-line">
            <span class="line"></span>
            <span class="name">({{DirectorCounterparty}})</span>
          </p>
          <p>М.П.</p>
        </div>
      </div>
    </div>
  </body>
</html>
