.header {
  text-align: center;
  margin-bottom: 30px;
}
body {
  font-family: Arial, sans-serif;
  width: 210mm;
  margin: 0 auto;
  padding: 20mm;
  background: white;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
table {
  font-size: 14px;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid;
  padding: 5px;
  word-wrap: break-word;
}
.grid {
  font-size: 16px;
  table-layout: auto;
  width: auto;
}
.grid td {
  border: none;
  padding: 20px 10px;
}
#reconTable td:nth-child(3),
#reconTable td:nth-child(4),
#reconTable td:nth-child(7),
#reconTable td:nth-child(8) {
  text-align: right;
}
#workTable td:nth-child(3),
#workTable td:nth-child(5),
#workTable td:nth-child(6) {
  text-align: right;
}
#workTable tfoot td {
  border: none;
  text-align: right;
  padding: 5px 5px;
  font-weight: bold;
}
#workTable tfoot td.sum-value {
  border: 1px solid black; /* рамка со всех сторон */
}
tr {
  page-break-inside: avoid;
}
.balance-row td {
  font-weight: bold;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.footer {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.compact-group p {
  margin: 5px 0;
  word-wrap: break-word;
}

.spaced-group p {
  margin: 30px 0;
  word-wrap: break-word;
}
.bold-text {
  font-weight: bold;
}
.signature-line {
  display: flex;
  align-items: baseline;
}
.line {
  flex: 1;
  border-bottom: 1px solid black;
  height: 1px;
}

.name {
  white-space: nowrap;
}

.separator {
  border: none;
  border-top: 3px solid black;
  margin: -20px 0 20px 0;
}

@page {
  size: A4;
  margin: 20mm;
}
@media print {
  body {
    box-shadow: none;
    margin: 0;
    padding: 0;
  }
}
